*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.cards-container{
    display: flex;
    width: 90vw;
}

.cards-container .card{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    flex: 0.5;
    border-radius: 50px;
    position: relative;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    transition: flex 1s ease;
    /* ^ */
}

.cards-container .card h3{
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    font-size: 28px;
    opacity: 0;
}

.cards-container .active.card{
    flex: 5;
}

.cards-container .active.card h3{
    opacity: 1;
    transition: opacity 1s ease;
}





